**/__pycache__
**/build/
**/.egg-info/
**/.egg
**/*.pyc
**/.DS_Store
**/.vscode/
**/*.log
**/*.out
**/logs
**/bias_logs
**/logs_using_on_training_set
**/heatmap_cvrp
**/heatmap*/
**/cvrplib
datasets/cvrp/cvrplib_test**.pkl
**/*logs*/
**/.idea
**/samples*
**/sample2pkl.py
GUI/outputs
**/wandb
**/test
/.git
/.gitattributesgit
**/cvrplib_test_set_X.pkl
*.pkl